
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    color: #007bff;
  }

  .navbar ul.hidden {
    display: none;
  }

  .navbar ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar ul li {
    width: 100%;
    text-align: left;
  }
}
